Guasti-WSClient/src/main/resources/wsdl/servizio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lutech.it/servizio/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="servizio" targetNamespace="http://lutech.it/servizio/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://lutech.it/servizio/">
      <xsd:element name="operazione">
        <xsd:complexType>
        	<xsd:sequence>
        		<xsd:element name="in" type="xsd:string" />
        	</xsd:sequence>
        	<xsd:attribute name="nome">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="100"></xsd:maxLength>
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:attribute>
        	<xsd:attribute name="cognome" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operazioneResponse">
        <xsd:complexType>
        	<xsd:sequence>
        		<xsd:element name="out" type="xsd:string" />
        	</xsd:sequence>
        	<xsd:attribute name="citta" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="cap" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operazioneFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="operazioneFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="operazioneRequest">
    <wsdl:part element="tns:operazione" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operazioneResponse">
    <wsdl:part element="tns:operazioneResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operazioneFault">
  	<wsdl:part name="parameters" element="tns:operazioneFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="servizio">
    <wsdl:operation name="operazione">
      <wsdl:input message="tns:operazioneRequest"/>
      <wsdl:output message="tns:operazioneResponse"/>
            <wsdl:fault name="fault" message="tns:operazioneFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servizioSOAP" type="tns:servizio">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="operazione">
  		<soap:operation
  			soapAction="http://lutech.it/servizio/operazione" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servizio">
    <wsdl:port binding="tns:servizioSOAP" name="servizioSOAP">
      <soap:address location="http://lutech.it/servizio"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
